@model IEnumerable<TaxiBookingServiceUI.Models.BookingViewModel>

@{
    ViewData["Title"] = "AcceptRequest";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickupLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideFare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickupLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideFare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode)
            </td>
            <td>
                @Html.ActionLink("Arrived at pickup", "Arrived", new {  id=item.Id  }) 
            </td>
        </tr>
}
    </tbody>
</table>
