@model TaxiBookingServiceUI.Models.BookingViewModel

@{
    ViewData["Title"] = "StartRide";
    <p style="color : green">@TempData["message"]</p>
}

<h1>StartRide</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RideFare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RideFare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RideTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RideTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Complete Ride", "CompleteRide", new {  id = Model.Id  })
</div>
